.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: calc(50vh - (363px / 2));
  margin-left: calc(50vw - (363px / 2));
  border-radius: 50%;

  height: 367px;
  width: 367px;
  border: 1.2px white solid;
  animation: border 3s infinite;

  &:after {
    content: "";
    position: absolute;
    width: 363px;
    height: 363px;
    border-radius: 50%;
    z-index: -1;
    background-color: white;
    opacity: 0.1;
    filter: blur(60px);
  }

  &:before {
    content: "";
    position: absolute;
    top: -3.5px;
    left: -3px;
    width: 367px;
    height: 367px;
    
    border-radius: 50%;
    border: 3px #0500FF solid;
    z-index: -1;
    animation: repeat-blur 3s infinite;
    filter: blur(5px);
  }
}

@keyframes repeat-blur {
  0% {
    filter: blur(5px);
  }
  50% {
    filter: blur(15px);
  }

  100% {
    filter: blur(5px);
  }
}

@keyframes border {
  0% {
    box-shadow: 0px 0px 0px 0px white;
  }
  50% {
    box-shadow: 0px 0px 0px 1px white;
  }

  100% {
    box-shadow: 0px 0px 0px 0px white;
  }
}




.avatarbg {
  width: 360px;
  height: 360px;
}

.avatar {
  position: absolute;
  top: -26px;
  width: 363px;
  
}