.container {
	position: relative;
	width: 100px;
	height: 550px;
}
.containerSvg {
	position: absolute;
	top: 100px;
	left: -270px;
	display: flex;
	flex-direction: column;
	align-items: end;
}

.svgRecOne:hover,
.svgRecTwo:hover {
	path {
		fill-opacity: 0.2;
		cursor: pointer;
	}
}

.containerSvgRec {
	position: relative;

	.textRecOne,
	.textRecTwo {
		position: absolute;
		z-index: -1;
		margin: 0;
		font-weight: 400;
		font-size: 30px;
		color: #95a6c7;
	}
}

.textRecOne {
	top: 129px;
	right: 92px;
}

.textRecTwo {
	top: 112px;
	right: 92px;
}

@media (max-width: 1200px) {
	.svgRecOne div svg {
		width: 455px;
		height: 217px;
	}
	.svgRecTwo div svg {
		width: 505px;
		height: 217px;
	}
	.container {
		position: relative;
		width: 300px;
	}
	.containerSvg {
		position: absolute;
		top: 159px;
		left: -280px;
	}
	.containerSvgRec {
		.textRecOne,
		.textRecTwo {
			font-size: 25px;
		}

		.textRecOne {
			top: 109px;
			right: 82px;
		}

		.textRecTwo {
			top: 92px;
			right: 82px;
		}
	}
}

@media (max-width: 1150px) {
	.svgRecOne div svg {
		width: 335px;
		height: 217px;
	}
	.svgRecTwo div svg {
		width: 375px;
		height: 177px;
	}
	.container {
		position: relative;
		width: 0px;
	}
	.containerSvg {
		position: absolute;
		top: 172px;
		left: -230px;
	}
	.containerSvgRec {
		.textRecOne,
		.textRecTwo {
			font-size: 25px;
		}

		.textRecOne {
			top: 99px;
			right: 42px;
		}

		.textRecTwo {
			top: 62px;
			right: 42px;
		}
	}
}

@media (max-width: 900px) {
	.container {
		display: none;
	}
}
