.container {
	position: relative;
	width: 100px;
	height: 550px;
}
.containerSvg {
	position: absolute;
	top: 100px;
	left: -270px;
	display: flex;
	flex-direction: column;
	align-items: end;
}

.svgRecOne:hover,
.svgRecTwo:hover {
	path {
		fill-opacity: 0.2;
		cursor: pointer;
	}
}

.containerSvgRec {
	position: relative;

	.textRecOne,
	.textRecTwo {
		position: absolute;
		margin: 0;
		font-weight: 400;
		font-size: 30px;
		color: #95a6c7;
	}
}

.textRecOne {
	top: 129px;
	right: 92px;
}

.textRecTwo {
	top: 112px;
	right: 92px;
}
