body {
	background-color: #1e1e1e;
	position: relative;
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	overflow: hidden;
}

.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
}

.content {
	margin-top: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.center {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.name {
	width: 700px;
	margin: 0;
	font-weight: 800;
	font-size: 40px;
	text-align: center;
	color: #fff;
	text-shadow: rgba(69, 5, 245, 0.698) 0px 0 15px;
}

.special {
	margin-top: 19px;
	margin-bottom: 100px;
	font-weight: 700;
	font-size: 30px;
	text-align: center;
	color: #fff;
	text-shadow: rgba(69, 5, 245, 0.698) 0px 0 15px;
}

.btn-container {
	display: flex;
	justify-content: center;
	.btn-a {
		margin-top: 100px;
		margin-left: 600px;
		padding: 12px 20px;
		text-decoration: none;

		font-weight: 400;
		font-size: 20px;
		color: #92abfc;

		border: 1px solid blue;
	}
	.btn-a:hover {
		color: #ffffff;
		background: rgba(30, 14, 131, 0.32);
	}
}

.btn-container-mobile {
	display: none;
	width: 384px;
	margin-bottom: 170px;
	.btn-a-mobile {
		width: 100%;
		padding: 12px;
		text-decoration: none;
		text-align: center;

		font-weight: 400;
		font-size: 20px;
		color: #4b5aff;

		border: 1px solid blue;
	}
	.btn-a-mobile:hover {
		color: #ffffff;
		background: rgba(30, 14, 131, 0.32);
	}
}

@media (max-width: 900px) {
	body {
		overflow-x: hidden;
	}
	.btn-container {
		display: none;
	}

	.name {
		font-size: 25px;
	}

	.special {
		margin-top: 15px;
		font-size: 20px;
		margin-bottom: 40px;
	}

	.content {
		margin-top: 5px;
	}

	.btn-container-mobile {
		display: flex;
		justify-content: center;
	}
}
